In [1]:
# for prelim cleaning, find rows that need to be removed, convert object cols to floats where necessary
# goal just to make data usable
# fill nulls and engineer features later b/c it may be different for different models

In [2]:
# create a library that will clean data and show missing/ cat value counts faster
# for each col check how many null, if cat how many cat and num per cat, check min, max, mean, std

In [3]:
import os, warnings, gc
from pathlib import Path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
warnings.filterwarnings('ignore')
pd.set_option('display.max_columns', 50)

Data folder also contains rejected loans. For now only focus on approved loans.

In [4]:
data_path = Path('data/')
files = os.listdir(data_path)
approved_files = [f for f in files if f[0]=='L']

Limit features to ones that are present at time of loan application

In [5]:
cols_of_interest = ['issue_d','loan_status','total_pymnt', 'total_rec_int','total_rec_late_fee','total_rec_prncp']

In [6]:
cols = ['id','loan_amnt', 'purpose', 'grade', 'sub_grade', 'int_rate', 'term',
       'installment', 'home_ownership', 'emp_length', 'emp_title',
       'annual_inc_joint', 'dti_joint', 'annual_inc', 'dti', 'zip_code',
       'addr_state', 'fico_range_low','fico_range_high', 'earliest_cr_line',
       'open_acc', 'total_acc', 'revol_bal','revol_util', 'inq_last_6mths',
       'acc_now_delinq', 'delinq_amnt' , 'delinq_2yrs',
       'mths_since_last_delinq', 'pub_rec','mths_since_last_record',
       'mths_since_last_major_derog', 'collections_12_mths_ex_med',
       'verification_status', 'issue_d', 'loan_status',
        'total_pymnt', 'total_rec_int','total_rec_late_fee','total_rec_prncp']
       

fl_to_int = ['open_acc', 'loan_amnt', 'fico_range_low', 'fico_range_high', 'total_acc', 'revol_bal', 
            'inq_last_6mths', 'acc_now_delinq', 'delinq_amnt', 'delinq_2yrs', 'mths_since_last_delinq',
             'pub_rec', 'mths_since_last_record', 'mths_since_last_major_derog', 'collections_12_mths_ex_med']

In [7]:
to_map = {'secAppCollections12MthsExMed': 'sec_app_collections_12_mths_ex_med',
          'secAppInqLast6Mths': 'sec_app_inq_last_6mths',
          'numAcctsEver120Ppd': 'num_accts_ever_120_pd',
          'inqLast6Mths': 'inq_last_6mths',
          'numTl120dpd2m': 'num_tl_120dpd_2m',
          'numTl30dpd': 'num_tl_30dpd',
          'numTl90gDpd24m': 'num_tl_90g_dpd_24m',
          'numTlOpPast12m': 'num_tl_op_past_12m',
          'collections12MthsExMed': 'collections_12_mths_ex_med',
          'isIncV': 'verification_status',
          'isIncVJoint': 'verification_status_joint',
          'openIl12m': 'open_il_12m',
          'openIl24m': 'open_il_24m',
          'openRv12m': 'open_rv_12m',
          'openRv24m': 'open_rv_24m',
          'secAppChargeoffWithin12Mths': 'sec_app_chargeoff_within_12_mths',
          'addrZip': 'zip_code',
          'accOpenPast24Mths': 'acc_open_past_24mths',
          'chargeoffWithin12Mths': 'chargeoff_within_12_mths',
          'inqLast12m': 'inq_last_12m',
          'delinq2Yrs': 'delinq_2yrs',
          'percentBcGt75': 'percent_bc_gt_75',
          'loanAmount': 'loan_amnt',
          'iLUtil': 'il_util',
          
         }

In [8]:
to_drop = ['reviewStatus', 'housingPayment', 'creditPullD', 'ilsExpD', 'mtgPayment', 'expD', 'acceptD',
          'investorCount','serviceFeeRate', 'disbursementMethod', 'listD', 'expDefaultRate',
          'reviewStatusD','fundedAmount']

In [9]:
cat_cols = ['purpose', 'grade', 'sub_grade', 'term', 'home_ownerhsip', 'emp_length', 'zip_code',
            'addr_state', ]

In [11]:
def cleaning(df):
            
    # drop non_loan columns
    index = df[df['loan_amnt'].isnull()].index
    df.drop(index=index, inplace=True)
    
    # convert % rate from str to float
    df['int_rate'] = df['int_rate'].str[:-1].astype(float)
    df['revol_util'] = df['revol_util'].str[:-1].astype(float)
    
    # convert term to float
    df['term'] = df['term'].str.strip().str[:2]

    # col too messy for now, maybe try later
    #df.drop(columns='emp_title', inplace=True)
    
    # drop weird old columns
    index = (df[(df['loan_status'] == 'Does not meet the credit policy. Status:Charged Off')
            |(df['loan_status'] == 'Does not meet the credit policy. Status:Fully Paid')]).index
    df.drop(index=index, inplace=True)
    
    # convert dates to useable formats
    df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%Y')
    df['issue_d'] = pd.to_datetime(df['issue_d'], format='%b-%Y')
    
    # time since earliest cr_line
    df['earliest_cr_line'] = ((df['issue_d'] - df['earliest_cr_line']) / np.timedelta64(1, 'M')).astype(int)
    
    # convert floats to ints
    for col in fl_to_int:
        try: df[col] = df[col].astype(int)
        except: pass    
    
    return df[api_cols+cols_of_interest]

In [12]:
def get_data(approved_files, data_path):
    df = pd.DataFrame()
    for file in approved_files:
        print('reading in {}'.format(file))
        temp_df = pd.read_csv(data_path/file,header=1)
        temp_df = cleaning(temp_df)
        df = pd.concat([df,temp_df],ignore_index=True)
    del temp_df
    return df

In [130]:
import requests
from requests.auth import HTTPDigestAuth
import json

api_key =  {'Authorization': 'JX4Wu5IqtrfKwUqUIHAikOoEoNQ='}

investor_id = '124665850'
SubResource = 'summary'

loans = 'https://api.lendingclub.com/api/investor/v1/loans/listing'
res = requests.get(loans, headers=api_key)
data = json.loads(res.text)

avail_cols = list(data['loans'][0].keys())

In [131]:
import re
api_cols = []
for col in avail_cols:
    if col in list(to_map.keys()):
        new_col = to_map[col]
        api_cols.append(new_col)
        continue
    if col in to_drop:
        continue
    new_col = re.sub(r'([A-Z])', r'_\1', col).lower()
    new_col = re.sub(r'([0-9])+', r'_\1', new_col).lower()
    api_cols.append(new_col)

In [13]:
df = get_data(approved_files, data_path)

reading in LoanStats_securev1_2018Q4.csv
reading in LoanStats3b_securev1.csv
reading in LoanStats3c_securev1.csv
reading in LoanStats3d_securev1.csv
reading in LoanStats_securev1_2018Q2.csv
reading in LoanStats_securev1_2018Q3.csv
reading in LoanStats_securev1_2018Q1.csv
reading in LoanStats_securev1_2019Q1.csv
reading in LoanStats_securev1_2017Q1.csv
reading in LoanStats_securev1_2017Q2.csv
reading in LoanStats_securev1_2017Q3.csv
reading in LoanStats_securev1_2017Q4.csv
reading in LoanStats_securev1_2016Q2.csv
reading in LoanStats3a_securev1.csv
reading in LoanStats_securev1_2016Q3.csv
reading in LoanStats_securev1_2016Q1.csv
reading in LoanStats_securev1_2016Q4.csv

In [18]:
explore = df[(~df['settlement_amount'].isnull())&(df['issue_d'].dt.year==2014)].copy()

In [40]:
val = df[df['issue_d'].dt.year==2014].copy()

In [44]:
loans = val.loan_amnt.sum()

In [46]:
paid = val.total_pymnt.sum()

In [52]:
(paid/loans)**(1/3)

1.036684711757115

In [50]:
math.exp(1/3)

1.3956124250860895

In [51]:
from math import exp
(paid/loans).exp(1/3)

AttributeError: 'numpy.float64' object has no attribute 'exp'

In [43]:
val.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
316593,36805548,NaN,10400,10400.0,10400.0,36,6.99,321.08,A,A3,Truck Driver Delivery Personel,8 years,MORTGAGE,58000.0,Not Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,credit_card,Credit card refinancing,937xx,CA,14.92,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
316594,38098114,NaN,15000,15000.0,15000.0,60,12.39,336.64,C,C1,MANAGEMENT,10+ years,RENT,78000.0,Source Verified,2014-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,235xx,VA,12.03,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
316595,37822187,NaN,9600,9600.0,9600.0,36,13.66,326.53,C,C3,Admin Specialist,10+ years,RENT,69000.0,Source Verified,2014-12-01,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,077xx,NJ,25.81,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
316596,37662224,NaN,7650,7650.0,7650.0,36,13.66,260.20,C,C3,Technical Specialist,< 1 year,RENT,50000.0,Source Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,850xx,AZ,34.81,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
316597,37612354,NaN,12800,12800.0,12800.0,60,17.14,319.08,D,D4,Senior Sales Professional,10+ years,MORTGAGE,125000.0,Verified,2014-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,car,Car financing,953xx,CA,8.31,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
0.4498/753.00

0.00059734395750332

In [25]:
3156.58+744.25

3900.83

In [24]:
4903.83-744.25-3156.58

1003.0

In [39]:
753/0.45

1673.3333333333333

In [38]:
1003.*0.45

451.35

In [34]:
3156.58+744.25

3900.83

In [37]:
explore.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
316619,37661949,NaN,5000,5000.0,5000.0,36,10.49,162.49,B,B3,Teacher,4 years,MORTGAGE,52000.0,Source Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,853xx,AZ,14.35,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Aug-2018,COMPLETE,Jan-2018,753.00,44.98,6.0
316705,37752007,NaN,22200,22200.0,22200.0,60,17.14,553.40,D,D4,Clinical Data Lead,10+ years,RENT,74500.0,Source Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,015xx,MA,8.05,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Jul-2017,BROKEN,May-2017,9488.02,45.00,24.0
316765,37781998,NaN,14400,14400.0,14400.0,60,19.24,375.45,E,E2,Administrative Assistant,10+ years,MORTGAGE,70000.0,Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,105xx,NY,26.81,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Dec-2018,COMPLETE,Apr-2017,6857.00,44.99,24.0
316766,12389132,NaN,11200,11200.0,11200.0,60,14.31,262.41,C,C4,Teacher,10+ years,RENT,40000.0,Source Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,880xx,NM,29.07,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Apr-2019,COMPLETE,May-2018,2668.00,45.01,16.0
316783,37831802,NaN,12000,12000.0,12000.0,60,17.86,303.81,D,D5,Teacher,5 years,RENT,45000.0,Verified,2014-12-01,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,891xx,NV,30.67,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Nov-2018,ACTIVE,Nov-2018,2389.00,45.00,12.0

In [23]:
explore[cols_of_interest + ['loan_amnt','settlement_amount', 'settlement_status']]

,issue_d,loan_status,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp,loan_amnt,settlement_amount,settlement_status
316619,2014-12-01,Charged Off,4903.830000,744.25,0.00,3156.58,5000,753.00,COMPLETE
316705,2014-12-01,Charged Off,6793.720000,2981.37,0.00,2520.92,22200,9488.02,BROKEN
316765,2014-12-01,Charged Off,7584.810000,436.35,0.00,291.46,14400,6857.00,COMPLETE
316766,2014-12-01,Charged Off,11838.990000,3614.74,0.00,5556.25,11200,2668.00,COMPLETE
316783,2014-12-01,Charged Off,12694.300000,5440.07,0.00,7004.23,12000,2389.00,ACTIVE
316788,2014-12-01,Charged Off,1703.070000,518.57,0.00,1130.23,3375,1089.37,BROKEN
316814,2014-12-01,Charged Off,8179.430000,1874.07,0.00,5485.36,7175,820.00,COMPLETE
316840,2014-12-01,Charged Off,18188.130000,3485.16,32.95,14670.02,20000,7305.37,COMPLETE
317160,2014-12-01,Charged Off,11394.150000,883.62,0.00,5083.98,15000,5126.55,COMPLETE
317187,2014-12-01,Charged Off,12251.730000,1737.72,0.00,10007.47,18000,4134.96,BROKEN
317221,2014-12-01,Charged Off,30219.710000,8003.25,46.57,19190.76,25325,3250.00,COMPLETE
317262,2014-12-01,Charged Off,32722.770000,11405.38,0.00,13703.39,29675,7614.00,COMPLETE
317263,2014-12-01,Charged Off,7977.230000,1246.87,0.00,4672.36,9600,2058.00,COMPLETE
317285,2014-12-01,Charged Off,14084.950000,8381.55,20.54,4742.48,14000,4976.00,BROKEN
317322,2014-12-01,Charged Off,13267.830000,5765.16,0.00,6926.70,15000,3901.00,BROKEN
317619,2014-12-01,Charged Off,3077.950000,615.95,0.00,1855.00,3000,607.00,COMPLETE
317769,2014-12-01,Charged Off,6192.850000,1229.40,0.00,2678.63,8000,2284.82,COMPLETE
317779,2014-12-01,Charged Off,18017.730000,3582.79,0.00,9590.94,20000,4844.00,COMPLETE
317964,2014-12-01,Charged Off,33232.210000,12697.68,0.00,7034.53,33700,13500.00,COMPLETE
318178,2014-12-01,Charged Off,20585.550000,3424.82,0.00,11124.73,21825,6036.00,COMPLETE
318191,2014-12-01,Charged Off,21784.380000,6271.19,24.51,10492.68,21550,5148.00,COMPLETE
318243,2014-12-01,Charged Off,15437.420000,5879.09,0.00,9558.33,13825,2055.00,ACTIVE
318279,2014-12-01,Charged Off,6850.770000,1124.00,0.00,3176.77,8000,2554.00,COMPLETE
318325,2014-12-01,Charged Off,3145.340000,643.66,0.00,2034.59,3000,467.09,COMPLETE
318477,2014-12-01,Charged Off,2993.950000,766.41,0.00,1506.94,6500,3204.43,BROKEN
318518,2014-12-01,Charged Off,2573.150000,398.15,0.00,1704.70,2700,470.30,COMPLETE
318557,2014-12-01,Charged Off,8065.710000,2331.58,0.00,931.01,11475,5003.12,COMPLETE
318581,2014-12-01,Charged Off,12472.760000,5398.48,0.00,3054.15,11850,4384.13,ACTIVE
318609,2014-12-01,Charged Off,30583.860000,10452.12,35.14,15934.10,30000,7400.00,ACTIVE
318646,2014-12-01,Charged Off,20766.400000,5881.82,0.00,14084.58,26925,6885.16,ACTIVE
...,...,...,...,...,...,...,...,...,...
550162,2014-01-01,Charged Off,14658.640000,3316.15,48.08,9269.03,13750,2158.62,COMPLETE
550213,2014-01-01,Charged Off,7766.680000,360.74,0.00,589.89,13475,6816.00,COMPLETE
550504,2014-01-01,Charged Off,14009.210000,5543.56,0.00,7294.44,21000,5822.63,BROKEN
550540,2014-01-01,Charged Off,17502.260000,6176.06,20.08,7962.26,15000,3782.72,ACTIVE
550559,2014-01-01,Charged Off,12652.180000,2042.93,0.00,9348.14,12000,1260.69,COMPLETE
550601,2014-01-01,Charged Off,29750.870163,10323.05,0.00,14126.89,24000,5300.93,COMPLETE
550721,2014-01-01,Charged Off,8234.360000,1423.91,0.00,4553.89,10000,2350.00,BROKEN
550887,2014-01-01,Charged Off,8060.010000,727.63,0.00,4060.86,12000,3270.16,COMPLETE
550896,2014-01-01,Charged Off,1651.600000,266.95,0.00,683.50,2000,701.00,COMPLETE
550983,2014-01-01,Charged Off,6291.420000,848.39,0.00,4517.60,6500,925.02,COMPLETE
551045,2014-01-01,Charged Off,13344.360000,2453.51,0.00,8735.64,12800,2155.00,COMPLETE
551155,2014-01-01,Charged Off,10694.120000,1909.63,0.00,3964.31,14000,4820.00,COMPLETE
551341,2014-01-01,Charged Off,17017.870011,5820.32,18.33,7794.21,15000,3435.00,COMPLETE
551358,2014-01-01,Charged Off,26523.980000,14183.28,0.00,8746.46,26500,9831.77,ACTIVE
551498,2014-01-01,Charged Off,30066.319955,11341.62,27.57,17957.13,21600,1924.00,ACTIVE
551526,2014-01-01,Charged Off,5502.510000,2922.36,0.00,2579.03,12000,4500.00,COMPLETE
551599,2014-01-01,Charged Off,24909.870000,3556.30,0.00,17315.95,25000,4036.55,COMPLETE
551604,2014-01-01,Charged Off,15319.680000,3453.89,0.00,3297.31,28000,8568.48,COMPLETE
551629,2014-01-01,Charged Off,4317.010000,1572.13,0.00,1184.95,12000,5661.87,BROKEN
551647,2014-01-01,Charged Off,6202.400000,1570.18,15.00,4616.04,8000,2400.00,COMPLETE
551672,2014-01-01,Charged Off,21380.210033,9420.96,0.00,11529.25,20500,4344.67,ACTIVE
551683,2014-01-01,Charged Off,11107.710000,3367.21,0.00,3778.36,11200,3961.85,COMPLETE
551726,2014-01-01,Charged Off,14108.240000,4675.91,0.00,4989.99,13250,4440.22,COMPLETE
551979,2014-01-01,Charged Off,14835.970000,3506.85,50.00,8126.83,14075,3202.11,COMPLETE
552007,2014-01-01,Charged Off,19403.410000,4050.47,0.00,14776.74,19125,2296.00,BROKEN
552020,2014-01-01,Charged Off,6739.800000,864.94,0.00,2422.87,16750,3450.00,COMPLETE
552097,2014-01-01,Charged Off,5274.260000,460.65,0.00,630.61,9450,4183.00,COMPLETE
552124,2014-01-01,Charged Off,18202.700140,8500.76,0.00,9321.94,15850,3198.10,ACTIVE
552146,2014-01-01,Charged Off,16558.700000,1799.95,0.00,12493.75,18000,3265.00,COMPLETE
552162,2014-01-01,Charged Off,13061.710000,4958.46,0.00,7706.90,11500,1806.00,BROKEN

In [14]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,...,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,145647242,NaN,9600,9600.0,9600.0,36,12.98,323.37,B,B5,NaN,NaN,MORTGAGE,35704.0,Not Verified,2018-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,Home improvement,401xx,KY,0.84,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,145248657,NaN,4000,4000.0,4000.0,36,23.40,155.68,E,E1,Security,3 years,RENT,90000.0,Source Verified,2018-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,070xx,NJ,26.33,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,145640422,NaN,2500,2500.0,2500.0,36,13.56,84.92,C,C1,Chef,10+ years,RENT,55000.0,Not Verified,2018-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,109xx,NY,18.24,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,145631930,NaN,30000,30000.0,30000.0,60,18.94,777.23,D,D2,Postmaster,10+ years,MORTGAGE,90000.0,Source Verified,2018-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,713xx,LA,26.52,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,145638579,NaN,5000,5000.0,5000.0,36,17.97,180.69,D,D1,Administrative,6 years,MORTGAGE,59280.0,Source Verified,2018-12-01,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,490xx,MI,10.51,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
list(df.columns)

['id',
 'member_id',
 'loan_amnt',
 'funded_amnt',
 'funded_amnt_inv',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_title',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'issue_d',
 'loan_status',
 'pymnt_plan',
 'url',
 'desc',
 'purpose',
 'title',
 'zip_code',
 'addr_state',
 'dti',
 'delinq_2yrs',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'open_acc',
 'pub_rec',
 'revol_bal',
 'revol_util',
 'total_acc',
 'initial_list_status',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'total_rec_late_fee',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_d',
 'last_pymnt_amnt',
 'next_pymnt_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'collections_12_mths_ex_med',
 'mths_since_last_major_derog',
 'policy_code',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'acc_now_delinq',
 'tot_coll_amt',
 'tot_cur_bal',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'total_rev_hi_lim',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'acc_open_past_24mths',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'delinq_amnt',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'pub_rec_bankruptcies',
 'tax_liens',
 'tot_hi_cred_lim',
 'total_bal_ex_mort',
 'total_bc_limit',
 'total_il_high_credit_limit',
 'revol_bal_joint',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_open_act_il',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'hardship_flag',
 'hardship_type',
 'hardship_reason',
 'hardship_status',
 'deferral_term',
 'hardship_amount',
 'hardship_start_date',
 'hardship_end_date',
 'payment_plan_start_date',
 'hardship_length',
 'hardship_dpd',
 'hardship_loan_status',
 'orig_projected_additional_accrued_interest',
 'hardship_payoff_balance_amount',
 'hardship_last_payment_amount',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'settlement_status',
 'settlement_date',
 'settlement_amount',
 'settlement_percentage',
 'settlement_term']

In [66]:
len(avail_cols)

119

In [67]:
df_cols = list(df.columns)

In [68]:
df_cols.sort()

In [99]:
len(api_cols)

105

In [100]:
api_cols

['id',
 'member_id',
 'loan_amnt',
 'term',
 'int_rate',
 'installment',
 'grade',
 'sub_grade',
 'emp_length',
 'home_ownership',
 'annual_inc',
 'verification_status',
 'desc',
 'purpose',
 'zip_code',
 'addr_state',
 'initial_list_status',
 'emp_title',
 'acc_now_delinq',
 'acc_open_past_24mths',
 'bc_open_to_buy',
 'percent_bc_gt_75',
 'bc_util',
 'dti',
 'delinq_2yrs',
 'delinq_amnt',
 'earliest_cr_line',
 'fico_range_low',
 'fico_range_high',
 'inq_last_6mths',
 'mths_since_last_delinq',
 'mths_since_last_record',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'mths_since_recent_bc',
 'mort_acc',
 'open_acc',
 'pub_rec',
 'total_bal_ex_mort',
 'revol_bal',
 'revol_util',
 'total_bc_limit',
 'total_acc',
 'total_il_high_credit_limit',
 'num_rev_accts',
 'mths_since_recent_bc_dlq',
 'pub_rec_bankruptcies',
 'num_accts_ever_120_pd',
 'chargeoff_within_12_mths',
 'collections_12_mths_ex_med',
 'tax_liens',
 'mths_since_last_major_derog',
 'num_sats',
 'num_tl_op_past_12m',
 'mo_sin_rcnt_tl',
 'tot_hi_cred_lim',
 'tot_cur_bal',
 'avg_cur_bal',
 'num_bc_tl',
 'num_actv_bc_tl',
 'num_bc_sats',
 'pct_tl_nvr_dlq',
 'num_tl_90g_dpd_24m',
 'num_tl_30dpd',
 'num_tl_120dpd_2m',
 'num_il_tl',
 'mo_sin_old_il_acct',
 'num_actv_rev_tl',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'total_rev_hi_lim',
 'num_rev_tl_bal_gt_0',
 'num_op_rev_tl',
 'tot_coll_amt',
 'application_type',
 'annual_inc_joint',
 'dti_joint',
 'verification_status_joint',
 'open_acc_6m',
 'open_il_12m',
 'open_il_24m',
 'mths_since_rcnt_il',
 'total_bal_il',
 'il_util',
 'open_rv_12m',
 'open_rv_24m',
 'max_bal_bc',
 'all_util',
 'inq_fi',
 'total_cu_tl',
 'inq_last_12m',
 'sec_app_fico_range_low',
 'sec_app_fico_range_high',
 'sec_app_earliest_cr_line',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_open_acc',
 'sec_app_revol_util',
 'sec_app_num_rev_accts',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_mths_since_last_major_derog',
 'revol_bal_joint',
 'open_act_il',
 'sec_app_open_act_il']

In [90]:
df_cols

['acc_now_delinq',
 'acc_open_past_24mths',
 'addr_state',
 'all_util',
 'annual_inc',
 'annual_inc_joint',
 'application_type',
 'avg_cur_bal',
 'bc_open_to_buy',
 'bc_util',
 'chargeoff_within_12_mths',
 'collection_recovery_fee',
 'collections_12_mths_ex_med',
 'debt_settlement_flag',
 'debt_settlement_flag_date',
 'deferral_term',
 'delinq_2yrs',
 'delinq_amnt',
 'desc',
 'dti',
 'dti_joint',
 'earliest_cr_line',
 'emp_length',
 'emp_title',
 'fico_range_high',
 'fico_range_low',
 'funded_amnt',
 'funded_amnt_inv',
 'grade',
 'hardship_amount',
 'hardship_dpd',
 'hardship_end_date',
 'hardship_flag',
 'hardship_last_payment_amount',
 'hardship_length',
 'hardship_loan_status',
 'hardship_payoff_balance_amount',
 'hardship_reason',
 'hardship_start_date',
 'hardship_status',
 'hardship_type',
 'home_ownership',
 'id',
 'il_util',
 'initial_list_status',
 'inq_fi',
 'inq_last_12m',
 'inq_last_6mths',
 'installment',
 'int_rate',
 'issue_d',
 'last_credit_pull_d',
 'last_fico_range_high',
 'last_fico_range_low',
 'last_pymnt_amnt',
 'last_pymnt_d',
 'loan_amnt',
 'loan_status',
 'max_bal_bc',
 'member_id',
 'mo_sin_old_il_acct',
 'mo_sin_old_rev_tl_op',
 'mo_sin_rcnt_rev_tl_op',
 'mo_sin_rcnt_tl',
 'mort_acc',
 'mths_since_last_delinq',
 'mths_since_last_major_derog',
 'mths_since_last_record',
 'mths_since_rcnt_il',
 'mths_since_recent_bc',
 'mths_since_recent_bc_dlq',
 'mths_since_recent_inq',
 'mths_since_recent_revol_delinq',
 'next_pymnt_d',
 'num_accts_ever_120_pd',
 'num_actv_bc_tl',
 'num_actv_rev_tl',
 'num_bc_sats',
 'num_bc_tl',
 'num_il_tl',
 'num_op_rev_tl',
 'num_rev_accts',
 'num_rev_tl_bal_gt_0',
 'num_sats',
 'num_tl_120dpd_2m',
 'num_tl_30dpd',
 'num_tl_90g_dpd_24m',
 'num_tl_op_past_12m',
 'open_acc',
 'open_acc_6m',
 'open_act_il',
 'open_il_12m',
 'open_il_24m',
 'open_rv_12m',
 'open_rv_24m',
 'orig_projected_additional_accrued_interest',
 'out_prncp',
 'out_prncp_inv',
 'payment_plan_start_date',
 'pct_tl_nvr_dlq',
 'percent_bc_gt_75',
 'policy_code',
 'pub_rec',
 'pub_rec_bankruptcies',
 'purpose',
 'pymnt_plan',
 'recoveries',
 'revol_bal',
 'revol_bal_joint',
 'revol_util',
 'sec_app_chargeoff_within_12_mths',
 'sec_app_collections_12_mths_ex_med',
 'sec_app_earliest_cr_line',
 'sec_app_fico_range_high',
 'sec_app_fico_range_low',
 'sec_app_inq_last_6mths',
 'sec_app_mort_acc',
 'sec_app_mths_since_last_major_derog',
 'sec_app_num_rev_accts',
 'sec_app_open_acc',
 'sec_app_open_act_il',
 'sec_app_revol_util',
 'settlement_amount',
 'settlement_date',
 'settlement_percentage',
 'settlement_status',
 'settlement_term',
 'sub_grade',
 'tax_liens',
 'term',
 'title',
 'tot_coll_amt',
 'tot_cur_bal',
 'tot_hi_cred_lim',
 'total_acc',
 'total_bal_ex_mort',
 'total_bal_il',
 'total_bc_limit',
 'total_cu_tl',
 'total_il_high_credit_limit',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_int',
 'total_rec_late_fee',
 'total_rec_prncp',
 'total_rev_hi_lim',
 'url',
 'verification_status',
 'verification_status_joint',
 'zip_code']

In [64]:
avail_cols.sort()
avail_cols

['accNowDelinq',
 'accOpenPast24Mths',
 'acceptD',
 'addrState',
 'addrZip',
 'allUtil',
 'annualInc',
 'annualIncJoint',
 'applicationType',
 'avgCurBal',
 'bcOpenToBuy',
 'bcUtil',
 'chargeoffWithin12Mths',
 'collections12MthsExMed',
 'creditPullD',
 'delinq2Yrs',
 'delinqAmnt',
 'desc',
 'disbursementMethod',
 'dti',
 'dtiJoint',
 'earliestCrLine',
 'empLength',
 'empTitle',
 'expD',
 'expDefaultRate',
 'ficoRangeHigh',
 'ficoRangeLow',
 'fundedAmount',
 'grade',
 'homeOwnership',
 'housingPayment',
 'iLUtil',
 'id',
 'ilsExpD',
 'initialListStatus',
 'inqFi',
 'inqLast12m',
 'inqLast6Mths',
 'installment',
 'intRate',
 'investorCount',
 'isIncV',
 'isIncVJoint',
 'listD',
 'loanAmount',
 'maxBalBc',
 'memberId',
 'moSinOldIlAcct',
 'moSinOldRevTlOp',
 'moSinRcntRevTlOp',
 'moSinRcntTl',
 'mortAcc',
 'mtgPayment',
 'mthsSinceLastDelinq',
 'mthsSinceLastMajorDerog',
 'mthsSinceLastRecord',
 'mthsSinceRcntIl',
 'mthsSinceRecentBc',
 'mthsSinceRecentBcDlq',
 'mthsSinceRecentInq',
 'mthsSinceRecentRevolDelinq',
 'numAcctsEver120Ppd',
 'numActvBcTl',
 'numActvRevTl',
 'numBcSats',
 'numBcTl',
 'numIlTl',
 'numOpRevTl',
 'numRevAccts',
 'numRevTlBalGt0',
 'numSats',
 'numTl120dpd2m',
 'numTl30dpd',
 'numTl90gDpd24m',
 'numTlOpPast12m',
 'openAcc',
 'openAcc6m',
 'openActIl',
 'openIl12m',
 'openIl24m',
 'openRv12m',
 'openRv24m',
 'pctTlNvrDlq',
 'percentBcGt75',
 'pubRec',
 'pubRecBankruptcies',
 'purpose',
 'reviewStatus',
 'reviewStatusD',
 'revolBal',
 'revolBalJoint',
 'revolUtil',
 'secAppChargeoffWithin12Mths',
 'secAppCollections12MthsExMed',
 'secAppEarliestCrLine',
 'secAppFicoRangeHigh',
 'secAppFicoRangeLow',
 'secAppInqLast6Mths',
 'secAppMortAcc',
 'secAppMthsSinceLastMajorDerog',
 'secAppNumRevAccts',
 'secAppOpenAcc',
 'secAppOpenActIl',
 'secAppRevolUtil',
 'serviceFeeRate',
 'subGrade',
 'taxLiens',
 'term',
 'totCollAmt',
 'totCurBal',
 'totHiCredLim',
 'totalAcc',
 'totalBalExMort',
 'totalBalIl',
 'totalBcLimit',
 'totalCuTl',
 'totalIlHighCreditLimit',
 'totalRevHiLim']

In [106]:
df[api_cols + cols_of_interest].to_csv('data/from_api.csv')

In [134]:
df.to_csv('data/from_api2.csv')

In [107]:
df = df[api_cols + cols_of_interest]

In [143]:
df = pd.read_csv('data/from_api2.csv')

In [ ]:
df.issue_d.min()

In [146]:
df[df['term']==36]

,Unnamed: 0,id,member_id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,desc,purpose,zip_code,addr_state,initial_list_status,emp_title,acc_now_delinq,acc_open_past_24mths,bc_open_to_buy,percent_bc_gt_75,bc_util,dti,...,max_bal_bc,all_util,inq_fi,total_cu_tl,inq_last_12m,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,revol_bal_joint,open_act_il,sec_app_open_act_il,issue_d,loan_status,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp
0,0,145647242,NaN,9600,36,12.98,323.37,B,B5,NaN,MORTGAGE,35704.0,Not Verified,NaN,home_improvement,401xx,KY,w,NaN,0,3.0,3452.0,0.0,17.8,0.84,...,748.0,12.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-12-01,Current,1317.720000,425.24,0.00,892.48
1,1,145248657,NaN,4000,36,23.40,155.68,E,E1,3 years,RENT,90000.0,Source Verified,NaN,debt_consolidation,070xx,NJ,w,Security,0,15.0,20174.0,0.0,7.9,26.33,...,1353.0,68.0,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2018-12-01,Current,770.600000,366.75,0.00,403.85
2,2,145640422,NaN,2500,36,13.56,84.92,C,C1,10+ years,RENT,55000.0,Not Verified,NaN,debt_consolidation,109xx,NY,w,Chef,0,9.0,34360.0,0.0,5.9,18.24,...,2137.0,28.0,1.0,11.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,421.780000,131.95,0.00,289.83
4,4,145638579,NaN,5000,36,17.97,180.69,D,D1,6 years,MORTGAGE,59280.0,Source Verified,NaN,debt_consolidation,490xx,MI,w,Administrative,0,4.0,13800.0,0.0,0.0,10.51,...,0.0,35.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,715.270000,282.84,0.00,432.43
5,5,145217616,NaN,10000,36,10.33,324.23,B,B1,< 1 year,MORTGAGE,280000.0,Not Verified,NaN,debt_consolidation,974xx,OR,w,NaN,0,7.0,11897.0,28.6,43.1,6.15,...,4923.0,46.0,2.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2018-12-01,Current,1612.540000,401.13,0.00,1211.41
7,7,144858623,NaN,8000,36,23.40,311.35,E,E1,10+ years,OWN,43000.0,Source Verified,NaN,debt_consolidation,357xx,AL,w,Manager,0,2.0,126.0,100.0,94.5,33.24,...,2174.0,72.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2018-12-01,Current,1541.150000,733.51,0.00,807.64
14,14,145233976,NaN,13000,36,23.40,505.95,E,E1,2 years,MORTGAGE,90000.0,Verified,NaN,other,191xx,PA,w,Sale Representative,0,4.0,9503.0,66.7,83.8,39.73,...,18037.0,64.0,2.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,2018-12-01,Current,2504.400000,1191.95,0.00,1312.45
15,15,145509846,NaN,9600,36,23.40,373.62,E,E1,9 years,RENT,65000.0,Not Verified,NaN,credit_card,265xx,WV,f,driver coordinator,0,1.0,232.0,85.7,96.9,23.01,...,2264.0,35.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,1849.380000,880.21,0.00,969.17
16,16,145399386,NaN,3500,36,20.89,131.67,D,D4,10+ years,MORTGAGE,40000.0,Source Verified,NaN,car,078xx,NJ,w,gas attendant,0,3.0,3683.0,0.0,26.3,9.09,...,1317.0,87.0,1.0,0.0,3.0,630.0,634.0,May-2003,0.0,3.0,6.0,47.9,21.0,0.0,0.0,46.0,6902.0,1.0,0.0,2018-12-01,Current,652.260000,286.02,0.00,366.24
20,20,145621687,NaN,24000,36,15.02,832.21,C,C3,3 years,OWN,105000.0,Not Verified,NaN,credit_card,711xx,LA,w,MAINTENANCE PLANNER,0,13.0,7774.0,50.0,65.4,22.14,...,6618.0,71.0,3.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,4131.010000,1404.56,0.00,2726.45
21,21,145406581,NaN,16000,36,14.47,550.51,C,C2,10+ years,RENT,150000.0,Source Verified,NaN,other,917xx,CA,w,Carpenter,0,8.0,4117.0,85.7,87.2,17.94,...,7445.0,56.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,2733.260000,901.74,0.00,1831.52
22,22,145639551,NaN,14000,36,16.14,493.17,C,C4,NaN,MORTGAGE,77479.0,Not Verified,NaN,other,315xx,GA,w,NaN,0,5.0,0.0,100.0,101.8,23.65,...,8147.0,75.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2018-12-01,Current,2447.020000,881.11,0.00,1565.91
25,25,145317444,NaN,28000,36,11.31,920.81,B,B3,5 years,RENT,82000.0,Verified,NaN,credit_card,921xx,CA,w,Executive Administrative Assistant,0,5.0,28865.0,27.3,46.1,14.40,...,6392.0,45.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,3656.850000,1114.40,0.00,2542.45
26,26,145327020,NaN,7075,36,23.40,275.35,E,E1,NaN,RENT,19200.0,Not Verified,NaN,debt_consolidation,633xx,MO,w,NaN,0,3.0,470.0,66.7,88.3,30.34,...,2179.0,51.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,1362.950000,648.69,0.00,714.26
27,27,145613304,NaN,8000,36,10.33,259.38,B,B1,6 years,MORTGAGE,38000.0,Source Verified,NaN,credit_card,159xx,PA,w,Optician,0,8.0,6188.0,25.0,57.6,19.84,...,6410.0,65.0,2.0,0.0,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,1290.010000,320.90,0.00,969.11
28,28,145627109,NaN,4000,36,18.94,146.51,D,D2,NaN,RENT,19000.0,Not Verified,NaN,major_purchase,936xx,CA,w,NaN,0,4.0,631.0,50.0,79.0,21.29,...,1646.0,53.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,583.860000,242.37,0.00,341.49
31,31,145479558,NaN,4000,36,11.80,132.48,B,B4,NaN,RENT,20000.0,Not Verified,NaN,debt_consolidation,151xx,PA,w,NaN,0,9.0,13204.0,0.0,7.0,12.24,...,646.0,14.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,658.470000,183.49,0.00,474.98
32,32,145619643,NaN,1250,36,23.40,48.65,E,E1,10+ years,RENT,52000.0,Source Verified,NaN,other,477xx,IN,w,BANKER,0,2.0,6483.0,0.0,54.3,9.90,...,4356.0,29.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-12-01,Current,240.810000,114.71,0.00,126.10
33,33,145609332,NaN,10400,36,12.98,350.32,B,B5,10+ years,MORTGAGE,56099.0,Source Verified,NaN,credit_card,800xx,CO,w,Program Support Assistant,0,8.0,15331.0,0.0,9.8,20.92,...,725.0,36.0,1.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,1740.350000,525.21,0.00,1215.14
34,34,144957382,NaN,7500,36,11.80,248.40,B,B4,NaN,MORTGAGE,32700.0,Not Verified,NaN,debt_consolidation,716xx,AR,f,NaN,0,1.0,5056.0,66.7,58.6,28.26,...,3157.0,55.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2018-12-01,Current,1234.620000,344.03,0.00,890.59
35,35,145304176,NaN,7000,36,10.72,228.25,B,B2,< 1 year,MORTGAGE,97000.0,Source Verified,NaN,other,201xx,VA,f,Business Analyst,0,8.0,19612.0,0.0,9.2,33.17,...,1988.0,49.0,5.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,2018-12-01,Current,5623.130000,170.97,0.00,5452.16
36,36,145644144,NaN,8000,36,11.80,264.96,B,B4,7 years,MORTGAGE,85000.0,Not Verified,NaN,credit_card,366xx,AL,w,Program Manager,0,4.0,19302.0,60.0,57.8,23.61,...,10929.0,44.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2018-12-01,Current,1316.930000,366.96,0.00,949.97
37,37,145635807,NaN,25000,36,12.98,842.11,B,B5,NaN,OWN,30000.0,Not Verified,NaN,debt_consolidation,028xx,RI,w,NaN,0,2.0,45569.0,25.0,23.8,24.88,...,12843.0,26.0,2.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Fully Paid,25841.090812,841.09,0.00,25000.00
39,39,145642324,NaN,5000,36,10.72,163.04,B,B2,5 years,OWN,72000.0,Not Verified,NaN,credit_card,906xx,CA,w,Teacher,0,6.0,4757.0,25.0,49.4,11.42,...,2067.0,55.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,810.730000,208.19,0.00,602.54
42,42,145511244,NaN,3000,36,10.33,97.27,B,B1,7 years,RENT,40000.0,Source Verified,NaN,credit_card,493xx,MI,w,Driver,0,3.0,3908.0,0.0,44.2,10.68,...,3049.0,74.0,4.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,483.770000,120.34,0.00,363.43
44,44,145614067,NaN,1000,36,6.46,30.64,A,A1,3 years,MORTGAGE,49989.0,Not Verified,NaN,credit_card,280xx,NC,f,Service Consultant,0,2.0,59.0,100.0,98.0,15.43,...,2941.0,14.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,152.660000,25.01,0.00,127.65
45,45,145624730,NaN,5000,36,11.31,164.43,B,B3,NaN,RENT,13000.0,Not Verified,NaN,credit_card,159xx,PA,w,NaN,0,1.0,29.0,100.0,94.2,14.59,...,471.0,58.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-12-01,Current,653.010000,177.11,0.00,475.90
47,47,145523554,NaN,6000,36,15.02,208.06,C,C3,5 years,MORTGAGE,30000.0,Source Verified,NaN,debt_consolidation,112xx,NY,w,Shift Supervisor,0,7.0,16153.0,0.0,22.3,17.48,...,1662.0,24.0,2.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,1032.790000,351.14,0.00,681.65
48,48,145469773,NaN,3000,36,17.97,108.42,D,D1,7 years,MORTGAGE,33000.0,Source Verified,NaN,other,750xx,TX,w,Cna,0,3.0,6299.0,50.0,19.2,7.31,...,1501.0,21.0,5.0,1.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Fully Paid,3138.626130,138.63,0.00,3000.00
50,50,145528150,NaN,8800,36,16.91,313.35,C,C5,< 1 year,MORTGAGE,21000.0,Not Verified,NaN,debt_consolidation,778xx,TX,w,NaN,0,10.0,25074.0,8.3,15.0,32.69,...,2442.0,13.0,1.0,0.0,0.0,655.0,659.0,Mar-2008,1.0,1.0,11.0,32.7,7.0,0.0,0.0,64.0,19471.0,1.0,3.0,2018-12-01,Current,1241.000000,467.47,0.00,773.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2373425,2373425,90104437,NaN,28000,36,16.99,998.14,D,D1,10+ years,OWN,119900.0,Not Verified,NaN,credit_card,296xx,SC,f,Business Development Manager,0,8.0,8232.0,50.0,67.3,19.41,...,5569.0,80.0,2.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,31967.547499,3967.55,0.00,28000.00
2373427,2373427,90076386,NaN,22000,36,15.59,769.01,C,C5,2 years,RENT,80000.0,Verified,NaN,credit_card,073xx,NJ,f,Investor Relations,0,5.0,3084.0,60.0,82.4,14.51,...,7796.0,83.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2016-10-01,Fully Paid,25815.957069,3815.96,0.00,22000.00
2373428,2373428,90120372,NaN,30000,36,19.99,1114.76,D,D4,4 years,RENT,60000.0,Not Verified,NaN,credit_card,606xx,IL,f,Faculty Member,0,0.0,3915.0,100.0,86.8,19.19,...,12673.0,79.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,2016-10-01,Current,34524.240000,9829.73,0.00,24694.51
2373430,2373430,90400857,NaN,24000,36,13.99,820.15,C,C3,10+ years,MORTGAGE,136799.0,Verified,NaN,debt_consolidation,805xx,CO,f,Air Traffic Controller,0,12.0,28807.0,45.5,60.3,23.25,...,13211.0,73.0,1.0,0.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2016-10-01,Current,26114.230000,5301.25,0.00,20812.98
2373432,2373432,90100160,NaN,10000,36,15.59,349.55,C,C5,9 years,RENT,62000.0,Not Verified,NaN,debt_consolidation,770xx,TX,f,SAFETY DIRECTOR,0,14.0,9882.0,33.3,38.2,16.74,...,4296.0,48.0,6.0,0.0,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,11109.550893,1109.55,0.00,10000.00
2373433,2373433,90327480,NaN,20000,36,13.99,683.46,C,C3,10+ years,MORTGAGE,80000.0,Verified,NaN,credit_card,300xx,GA,f,Claims,0,10.0,24856.0,55.6,46.3,18.75,...,5478.0,45.0,1.0,12.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,22187.034398,2152.86,34.17,20000.00
2373438,2373438,90240094,NaN,19800,36,12.79,665.14,C,C1,3 years,OWN,45000.0,Source Verified,NaN,debt_consolidation,365xx,AL,f,Delivery manager,0,5.0,14825.0,25.0,29.1,11.49,...,3411.0,46.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Charged Off,12223.740000,2586.16,0.00,6817.24
2373439,2373439,90249245,NaN,8000,36,13.99,273.39,C,C3,5 years,RENT,60000.0,Not Verified,NaN,debt_consolidation,334xx,FL,f,Attorney,0,7.0,573.0,0.0,61.8,24.74,...,597.0,98.0,1.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.0,NaN,2016-10-01,Fully Paid,9731.537001,1731.54,0.00,8000.00
2373440,2373440,90195681,NaN,6400,36,19.99,237.82,D,D4,NaN,MORTGAGE,18876.0,Verified,NaN,debt_consolidation,114xx,NY,f,NaN,0,4.0,2320.0,50.0,76.1,12.84,...,4174.0,70.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2016-10-01,Fully Paid,7439.211498,1039.21,0.00,6400.00
2373441,2373441,90397786,NaN,13000,36,13.99,444.25,C,C3,10+ years,MORTGAGE,122000.0,Source Verified,NaN,debt_consolidation,945xx,CA,f,Sales Manager,0,8.0,15079.0,66.7,35.3,13.77,...,6090.0,45.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Charged Off,3189.620000,141.46,0.00,292.69
2373442,2373442,90085659,NaN,35000,36,13.99,1196.05,C,C3,10+ years,MORTGAGE,117000.0,Source Verified,NaN,credit_card,853xx,AZ,f,Program Manager,0,6.0,15446.0,25.0,22.7,28.26,...,39493.0,63.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2016-10-01,Fully Paid,38401.711259,3401.71,0.00,35000.00
2373444,2373444,90393111,NaN,16000,36,12.79,537.49,C,C1,10+ years,OWN,48000.0,Not Verified,NaN,debt_consolidation,928xx,CA,f,checker,0,2.0,13027.0,20.0,47.3,33.60,...,5374.0,38.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,19005.367619,3005.37,0.00,16000.00
2373445,2373445,90394107,NaN,9600,36,14.49,330.40,C,C4,2 years,OWN,24000.0,Not Verified,NaN,debt_consolidation,482xx,MI,f,Assembly,0,8.0,13670.0,0.0,32.7,28.73,...,2841.0,24.0,0.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,11848.110305,2248.11,0.00,9600.00
2373446,2373446,90249773,NaN,8000,36,15.59,279.64,C,C5,< 1 year,RENT,50000.0,Verified,NaN,other,757xx,TX,f,Resident Physician,0,6.0,866.0,75.0,88.8,30.34,...,3449.0,114.0,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,2016-10-01,Current,8661.910000,2010.42,0.00,6651.49
2373447,2373447,90189605,NaN,7200,36,12.79,241.87,C,C1,2 years,MORTGAGE,54900.0,Not Verified,NaN,credit_card,034xx,NH,f,General Manager,0,6.0,2895.0,25.0,71.1,28.41,...,3429.0,69.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2016-10-01,Charged Off,4858.990000,739.06,0.00,1916.39
2373448,2373448,90395529,NaN,8000,36,14.49,275.33,C,C4,2 years,MORTGAGE,130000.0,Not Verified,NaN,major_purchase,804xx,CO,f,Business Development,0,3.0,3096.0,75.0,89.8,27.78,...,6006.0,79.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2016-10-01,Current,8528.790000,1856.89,0.00,6671.90
2373450,2373450,90300066,NaN,20000,36,13.99,683.46,C,C3,2 years,MORTGAGE,280000.0,Source Verified,NaN,home_improvement,327xx,FL,f,Dental Hygienist,0,7.0,15323.0,16.7,50.7,13.28,...,4925.0,60.0,0.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,NaN,2016-10-01,Current,21171.720000,4472.49,0.00,16699.23
2373452,2373452,90393746,NaN,10000,36,10.49,324.98,B,B3,NaN,OWN,58880.0,Not Verified,NaN,other,322xx,FL,w,NaN,0,5.0,16222.0,0.0,20.1,28.94,...,3095.0,36.0,0.0,12.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Current,10068.550000,1651.58,0.00,8416.97
2373459,2373459,90207805,NaN,13000,36,12.79,436.71,C,C1,NaN,MORTGAGE,60000.0,Not Verified,NaN,debt_consolidation,350xx,AL,w,NaN,0,4.0,2768.0,50.0,60.5,20.59,...,3386.0,73.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Fully Paid,14765.525341,1765.53,0.00,13000.00
2373465,2373465,90196134,NaN,20000,36,12.79,671.86,C,C1,10+ years,RENT,75000.0,Source Verified,NaN,credit_card,131xx,NY,w,Truck Driver,0,5.0,320.0,100.0,94.2,10.91,...,2375.0,49.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Current,20813.450000,4068.75,0.00,16744.70
2373467,2373467,90155344,NaN,7000,36,16.99,249.54,D,D1,< 1 year,RENT,68000.0,Verified,NaN,debt_consolidation,770xx,TX,w,Service technician,0,5.0,803.0,66.7,85.9,12.60,...,2290.0,84.0,2.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2016-10-01,Fully Paid,7834.910824,834.91,0.00,7000.00
2373471,2373471,90277441,NaN,5100,36,24.49,201.41,E,E3,NaN,RENT,17000.0,Verified,NaN,debt_consolidation,678xx,KS,f,NaN,0,9.0,5721.0,0.0,22.7,25.99,...,829.0,54.0,5.0,1.0,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Current,6236.770000,2084.61,0.00,4152.16
2373480,2373480,90006999,NaN,9000,36,6.99,277.86,A,A2,10+ years,RENT,67000.0,Source Verified,NaN,credit_card,329xx,FL,w,Owner,0,3.0,2688.0,33.3,38.9,16.39,...,997.0,50.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Current,8606.670000,971.74,0.00,7634.93
2373487,2373487,89613280,NaN,13200,36,15.59,461.41,C,C5,2 years,OWN,55000.0,Verified,NaN,credit_card,955xx,CA,f,Park Manager,0,5.0,22341.0,0.0,33.9,11.54,...,8474.0,36.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Fully Paid,14317.050013,1117.05,0.00,13200.00
2373530,2373530,89906326,NaN,19250,36,15.59,672.89,C,C5,6 years,OWN,56000.0,Source Verified,NaN,small_business,704xx,LA,f,Labour,0,2.0,28126.0,0.0,13.7,3.32,...,3972.0,12.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2016-10-01,Fully Paid,21389.764351,2139.76,0.00,19250.00
2373534,2373534,90094364,NaN,4500,36,14.49,154.88,C,C4,10+ years,MORTGAGE,120000.0,Verified,NaN,debt_consolidation,750xx,TX,f,IT Solutions Architect II,0,2.0,0.0,100.0,101.1,17.49,...,7659.0,88.0,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Fully Paid,5074.673110,574.67,0.00,4500.00
2373536,2373536,89936581,NaN,4500,36,8.59,142.25,A,A5,1 year,MORTGAGE,30000.0,Verified,NaN,debt_consolidation,705xx,LA,w,Foster care worker,0,8.0,3089.0,0.0,29.8,3.88,...,1311.0,14.0,6.0,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Fully Paid,4570.604645,70.60,0.00,4500.00
2373544,2373544,90006838,NaN,5000,36,21.49,189.64,D,D5,2 years,RENT,43000.0,Verified,NaN,moving,112xx,NY,f,Customer Service,0,3.0,3087.0,0.0,22.8,1.40,...,782.0,19.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2016-10-01,Fully Paid,5298.531020,298.53,0.00,5000.00
2373547,2373547,89078718,NaN,2000,36,8.99,63.60,B,B1,10+ years,MORTGAGE,75000.0,Not Verified,NaN,debt_consolidation,328xx,FL,f,Supervisor,0,6.0,578.0,100.0,91.5,15.01,...,3716.0,73.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2016-10-01,Charged Off,936.890000,217.90,15.00,703.99
2373579,2373579,89846605,NaN,15000,36,10.49,487.47,B,B3,8 years,MORTGAGE,60000.0,Not Verified,NaN,debt_consolidation,802xx,CO,f,Billing clerk,0,2.0,57649.0,50.0,26.7,26.40,...,5544.0,36.0,1.0,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2016-10-01,Fully Paid,15908.001163,908.00,0.00,15000.00

In [144]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,desc,purpose,zip_code,addr_state,initial_list_status,emp_title,acc_now_delinq,acc_open_past_24mths,bc_open_to_buy,percent_bc_gt_75,bc_util,dti,...,max_bal_bc,all_util,inq_fi,total_cu_tl,inq_last_12m,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,revol_bal_joint,open_act_il,sec_app_open_act_il,issue_d,loan_status,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp
0,0,145647242,NaN,9600,36,12.98,323.37,B,B5,NaN,MORTGAGE,35704.0,Not Verified,NaN,home_improvement,401xx,KY,w,NaN,0,3.0,3452.0,0.0,17.8,0.84,...,748.0,12.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-12-01,Current,1317.72,425.24,0.0,892.48
1,1,145248657,NaN,4000,36,23.40,155.68,E,E1,3 years,RENT,90000.0,Source Verified,NaN,debt_consolidation,070xx,NJ,w,Security,0,15.0,20174.0,0.0,7.9,26.33,...,1353.0,68.0,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2018-12-01,Current,770.60,366.75,0.0,403.85
2,2,145640422,NaN,2500,36,13.56,84.92,C,C1,10+ years,RENT,55000.0,Not Verified,NaN,debt_consolidation,109xx,NY,w,Chef,0,9.0,34360.0,0.0,5.9,18.24,...,2137.0,28.0,1.0,11.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,421.78,131.95,0.0,289.83
3,3,145631930,NaN,30000,60,18.94,777.23,D,D2,10+ years,MORTGAGE,90000.0,Source Verified,NaN,debt_consolidation,713xx,LA,w,Postmaster,0,10.0,13761.0,0.0,8.3,26.52,...,998.0,57.0,2.0,15.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2018-12-01,Current,11338.80,2210.86,0.0,9127.94
4,4,145638579,NaN,5000,36,17.97,180.69,D,D1,6 years,MORTGAGE,59280.0,Source Verified,NaN,debt_consolidation,490xx,MI,w,Administrative,0,4.0,13800.0,0.0,0.0,10.51,...,0.0,35.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,715.27,282.84,0.0,432.43

In [145]:
df.shape

(2373594, 112)

In [12]:
df.to_csv(data_path/'prelim-clean.csv', index=False)

march 2019

test set march 2015 -> march 2016
val set march 2014 -> feb 2015
train set begin -> feb 2014

In [147]:
df = df[df['term']==36]

In [148]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,desc,purpose,zip_code,addr_state,initial_list_status,emp_title,acc_now_delinq,acc_open_past_24mths,bc_open_to_buy,percent_bc_gt_75,bc_util,dti,...,max_bal_bc,all_util,inq_fi,total_cu_tl,inq_last_12m,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,revol_bal_joint,open_act_il,sec_app_open_act_il,issue_d,loan_status,total_pymnt,total_rec_int,total_rec_late_fee,total_rec_prncp
0,0,145647242,NaN,9600,36,12.98,323.37,B,B5,NaN,MORTGAGE,35704.0,Not Verified,NaN,home_improvement,401xx,KY,w,NaN,0,3.0,3452.0,0.0,17.8,0.84,...,748.0,12.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2018-12-01,Current,1317.72,425.24,0.0,892.48
1,1,145248657,NaN,4000,36,23.40,155.68,E,E1,3 years,RENT,90000.0,Source Verified,NaN,debt_consolidation,070xx,NJ,w,Security,0,15.0,20174.0,0.0,7.9,26.33,...,1353.0,68.0,4.0,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,2018-12-01,Current,770.60,366.75,0.0,403.85
2,2,145640422,NaN,2500,36,13.56,84.92,C,C1,10+ years,RENT,55000.0,Not Verified,NaN,debt_consolidation,109xx,NY,w,Chef,0,9.0,34360.0,0.0,5.9,18.24,...,2137.0,28.0,1.0,11.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2018-12-01,Current,421.78,131.95,0.0,289.83
4,4,145638579,NaN,5000,36,17.97,180.69,D,D1,6 years,MORTGAGE,59280.0,Source Verified,NaN,debt_consolidation,490xx,MI,w,Administrative,0,4.0,13800.0,0.0,0.0,10.51,...,0.0,35.0,1.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,2018-12-01,Current,715.27,282.84,0.0,432.43
5,5,145217616,NaN,10000,36,10.33,324.23,B,B1,< 1 year,MORTGAGE,280000.0,Not Verified,NaN,debt_consolidation,974xx,OR,w,NaN,0,7.0,11897.0,28.6,43.1,6.15,...,4923.0,46.0,2.0,7.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,2018-12-01,Current,1612.54,401.13,0.0,1211.41

In [149]:
gc.collect()

72

In [152]:
df['issue_d'] = pd.to_datetime(df['issue_d'])

In [153]:
train_df = df[df['issue_d'].dt.year<2014]
val_df = df[df['issue_d'].dt.year==2014]
test_df = df[df['issue_d'].dt.year==2015]

In [154]:
df['loan_status'].value_counts()

Fully Paid            908443
Current               587644
Charged Off           170920
Late (31-120 days)     12153
In Grace Period         3854
Late (16-30 days)       2720
Default                   11
Name: loan_status, dtype: int64

In [155]:
val_df.loan_status.value_counts()

Fully Paid     140255
Charged Off     22315
Name: loan_status, dtype: int64

In [156]:
train_df = train_df[(train_df['loan_status']=='Fully Paid')|(train_df['loan_status']=='Charged Off')]
val_df = val_df[(val_df['loan_status']=='Fully Paid')|(val_df['loan_status']=='Charged Off')]
test_df = test_df[(test_df['loan_status']=='Fully Paid')|(test_df['loan_status']=='Charged Off')]

In [157]:
train_df.loan_status.value_counts()

Fully Paid     151480
Charged Off     21508
Name: loan_status, dtype: int64

In [158]:
val_df.loan_status.value_counts()

Fully Paid     140255
Charged Off     22315
Name: loan_status, dtype: int64

In [159]:
test_df.loan_status.value_counts()

Fully Paid     240978
Charged Off     42171
Name: loan_status, dtype: int64

In [160]:
train_df.to_pickle('data/api_train_df.pkl')
val_df.to_pickle('data/api_val_df.pkl')
test_df.to_pickle('data/api_test_df.pkl')

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
train_df = df[]

In [ ]:
# reset cols to those available when investing in loan
# predict if a loan will be paid off within 12 months of issuance